<div style="text-align: right;">
<a href="https://gitlab.com/materials-modeling/hiphive" target="_blank">gitlab/hiphive</a>
| <a href="https://materialsmodeling.org/software" target="_blank">materialsmodeling.org/software</a>
</div>
